<html>
	<head>
		<title>Readings</title>
		<script src="/static/edit_schedule.js?v=00001"></script>
		<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
		<script>
			$(function() {
				//register adding a new column
				$("#add_reading").click(function() {
					addEntry();
					
					console.log($("#entries_num").val());
					
					return false;
				});
				
				$("#submit_button").click(function() {
					hideAllInputShowDisplay();
					return true;
				});
				
				registerClicks({{entries_table|length|add:'1'}});
				
				hideAllInputShowDisplay();
				
			});
		</script>
	</head>
	
	<body>
		<!-- Modify schedule name and date -->
		<form action="submit_schedule/" method="POST">
			{% csrf_token %}
			<label for="name">Name:</label>
			<input type="text" name="name" value="{{title}}" />
			<br />
			
			<table id="entries_table">
			{% for entry in entries %}
				<tr id="row_{{entry.0}}">
					<td>
						<label for="day_num_{{entry.0}}">Day Number:</label>
						<input type="text" name="day_num_{{entry.0}}" id="day_num_{{entry.0}}" class="entry_input" size="3" value="{{entry.2}}"/>
						<span  id="display_day_num_{{entry.0}}" class="entry_display">{{entry.2}}</span>
					</td>
					<td>
						<label for="reading_{{entry.0}}">Reading:</label>
						<input type="text" name="reading_{{entry.0}}" id="reading_{{entry.0}}" class="entry_input" value="{{entry.1}}"/>
						<span id="display_reading_{{entry.0}}" class="entry_display">{{entry.1}}</span>
					</td>
				</tr>
				
			{% endfor %}
			</table>
			{{entries_table|length|add:'1'}}
			<input type="hidden" name="entries_num" id="entries_num" value="{{entries_table|length|add:'1'}}">
			<button id="add_reading">Add Reading</button><br /><br />
			<input type="submit" id="submit_button" value="Submit Schedule" />
		</form>
		
	</body>
</html>
