<html>
	<head>
		<title>Readings</title>
	</head>
	
	<body>
		<!-- Submit reading form -->
		<form action="submit_reading" method="POST">
			{% csrf_token %}
			<label for="reading">Chapter:</label>
			<input type="text" name="reading" id="reading" />
			<label for="date">Date:</label>
			<input type="text" name="date" id="date" />
			<label for="date">(MM/DD/YYYY)</label>
			<input type="submit" value="Submit" />
		</form>
		<!-- Show all readings -->
		{% for reading, webfriendlyreading, month, day, year in readings %}
			{{reading}} - {{month}}/{{day}}/{{year}}
			<a href="/readings/delete_reading/{{webfriendlyreading}}/{{month}}/{{day}}/{{year}}">Delete</a>
			<br />
		{% endfor %}
		<!-- Consistency -->
		{{consistency}}
	</body>
</html>
