{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<title>BRC - Challenge</title>

	<link rel="stylesheet" type="text/css" href='{% static "css/challenge.css" %}'>
{% endblock %}

{% block main_content %}
	<div class="wrapper-left">
		<div class="content-box" id="box">
			<div class="content-box-header">Challenge</div>
			{% for schedule_pk, schedule_name, schedule_consistency, schedule_completion in challenge_status %}
				<div class="list-item-hover">
					<div class="schedule-name">{{schedule_name}}</div>
				</div>
			{% endfor %}
			<div class="">
				<a href="view/">See more challenges &raquo;</a>
			</div>
		</div>
	</div>
{% endblock %}
