<html>
	<head>
		<title>Readings</title>
	</head>
	
	<body>
		<!-- Submit reading form -->
		<form action="/schedule/new/" method="POST">
			{% csrf_token %}
			<label for="schedule_name">Schedule Name:</label>
			<input type="text" name="schedule_name" id="schedule_name" />
			<input type="submit" value="Add" />
		</form>
		<!-- Show all schedules -->
		{% for title, webfriendlytitle in schedules %}
			{{title}}
			<a href="/schedule/{{webfriendlytitle}}/">Edit</a>
			<br />
		{% endfor %}
		<!-- Consistency -->
		{{consistency}}
	</body>
</html>
