{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<title>BRC - Schedules</title>

	<link rel="stylesheet" type="text/css" href='{% static "css/schedule.css" %}'>

	<script src='{% static "js/popupbox.js" %}'></script>
	
	<script>
		$(function() {
			$(".schedule").click(function() {
				location.href = "/schedule/" + $(this).attr("webtitle");
			});
		});
	</script>
{% endblock %}

{% block main_content %}
	<div class="wrapper-left">
		<div class="content-box" id="ongoing-schedules-box">
			<div class="content-box-header">Your Ongoing Schedules</div>
			{% for title, schedule_pk in subscribed_schedules %}
				<div class="schedule list-item-hover" webtitle="{{schedule_pk}}">
					<div class="schedule-name">{{title}}</div>
				</div>
			{% endfor %}
			<div class="">
				<a href="view/">Sign up for more schedules &raquo;</a>
			</div>
		</div>
	</div>
	
	<div class="wrapper-right">
		<div class="content-box" id="todays-readings-box">
			<div class="content-box-header">Today's Readings</div>
			{% for schedule in todays_readings %}
				<div class="content-box-title">{{ schedule.0 }}:</div>
				{% for readings in schedule.1 %}
					<div class="todays-reading-entry">{{readings}}</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
	
	<div class="wrapper-left">
		<div class="content-box" id="created-schedules-box">
			<div class="content-box-header">Your Created Schedules</div>
			{% for title, schedule_pk in created_schedules %}
				<div class="schedule list-item-hover" webtitle="{{schedule_pk}}">
					<div class="schedule-name">{{title}}</div>
					<div class="schedule-edit-link"><a href="/schedule/{{schedule_pk}}/edit">Edit</a></div>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="wrapper-right">
		<div class="content-box" id="popular-schedules-box">
			<div class="content-box-header">Popular Schedules</div>
			<div class="">
				<a href="view/">See more &raquo;</a>
			</div>
		</div>
	</div>
{% endblock %}
