{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<title>BRC - View Schedule - {{title}}</title>

	<link rel="stylesheet" type="text/css" href='{% static "css/schedule.css" %}'>

	<!-- In place text confirmation library --!>
	<script src='{% static "js/in_place_confirm.js" %}'></script>
	<link rel="stylesheet" type="text/css" href='{% static "css/in_place_confirm.css" %}'>
	
	<script>
		$(function() {
			new TextConfirm(".leave-btn", function() {
				location.href = "leave/";
			});
			
			$(".join-btn").click(function() {
				location.href = "join/";
			});
		});
	</script>
{% endblock %}

{% block main_content %}

	<div class="content-box" id="view-schedule-box">
		{% comment %}
		<span class="schedule-back-link"><a href="/schedule/">&laquo; Back</a></span>
		{% endcomment %}
		<div class="content-box-header">{{title}}</div>
		
		<div class="entry-column-wrapper">
			{% for entries in all_entries %}
				<div class="schedule-entry-column">
					{% for title, date, status in entries%}
						<div class="schedule-entry">
							<span class="schedule-entry-reading">{{title}}</span>
							<span class="schedule-entry-date {{status}}">{{date}}</span>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			
			<div class="button-row">
				<a href="/schedule/" class="button small-btn">&laquo; Back</a>
				<a href="edit/" class="button small-btn">Edit</a>
				{% if is_subscribed %}
					<span class="leave-btn button small-btn">Leave</span>
				{% else %}
					<span class="join-btn button small-btn">Join</span>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
