{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
		<link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="all-content">
			<div id="header">
				<div id="logo">Bible Reading Challenge</div>
			</div>
			<div id="main-body">
				<div id="menu-bar">
					<a href="/profile/" class="menu-item">Profile</a>
					<a href="/readings/" class="menu-item">Readings</a>
					<a href="/challenge/" class="menu-item">Challenge</a>
					<a href="/schedule/" class="menu-item">Schedule</a>
				</div>
				<hr />
				{# error notifications #}
				{% if messages %}
					{% for message in messages %}
						<div class="content-box notif-{{message.tags}}">
							{{message}}
						</div>
					{% endfor %}
				{% endif %}
				
				{% block main_content %}
				{% endblock %}
			</div>
			<div id="footer">
				<hr />
				&copy; 2014
			</div>
		</div>
	</body>
</html>
